// Define variables for your color scheme

// For example:
$red: #ff414d;
$blue: #1aa6b7;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #d9ecf2;

// rouge plus light = #f56a79
