
.description {
  background-color: #bbbbbb;
}

.mission {
  display: flex;
  h2{
    color: #3F3D56;
  }
}

.titre {
  margin-top: 120px;
}

.wagon {
  margin-top: 30px;
  display: flex;
  .wagonprez {
    padding-top: 50px;
    padding-left: 20px;
  }
}


