
.description {
  background-color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 4px;
}

.mission {
  display: flex;
  h2{
    color: #3F3D56;
  }
  p{
    margin-left: 160px;
    margin-top: 30px;
  }
}

.titre {
  margin-top: 150px;
  margin-left: 50px;
}

.wagon {
  margin-top: 30px;
  display: flex;
  .wagonprez {
    padding-top: 50px;
    padding-left: 20px;
  }
}


