.container {
  width: 1200px;
  margin: 0px auto;
}

.coder-stats-box {
  background-color: #f56a79;
  text-align: center;
  flex-grow: 1;
  border: 1px grey solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: -120px;
  font-size: 24px;
  color: white;
}

.coder-top {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.picture-box {
  align-items: center;
}

.coder-picture {
  background-size: cover;
}

.missions-list {
  padding-left: 0;
  list-style: none;
}
.coder-missions-box {
  background-color: white;
}

.cta-show {
  border-radius: 8px;
  height: 200px;
  width: 300px;
  margin-top: 150px;
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
   text-decoration:none;
  }
}

.bandeau-show {
  background-color: white;
  height: 320px;
  width: 200vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
