
.show-top-infos {
  background-color: white;
  padding: 1rem 2rem;
  height: 350px;
}

.show-stats {
  position: relative;
  height: 80px;
}

.coder-stats {
  height: 100px;
  position: absolute;
  top: -35px;
  left: 2rem;
}

.coder-stats-box {
  background-color: #f56a79;
  text-align: center;
  flex-grow: 1;
  border: 1px grey solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 24px;
  color: white;
}

.coder-top {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.picture-box {
  align-items: center;
}

.coder-picture {
  background-size: cover;
}

.missions-list {
  padding-left: 0;
  list-style: none;
}
.coder-missions-box {
  background-color: white;
  width: 90%;
}

.cta-show {
  border-radius: 8px;
  height: 200px;
  width: 300px;
  margin-top: 150px;
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
   text-decoration:none;
  }
}


.description-coder {
  padding-left: 33px;
  padding-right: 55px;
}

.mes-missions {
  margin-left:  50px;
}

.name-tags {
  margin-left: -30px;
}
