<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h1>Freewagoners, la nouvelle révolution du monde du travail</h1>
      <hr>
      <div class="mission">
        <div> <%= image_tag "undraw_people_search_wctu", height: 450, width: 450%></div>
        <div class="titre"><h2>Notre mission : créer un monde où chacun est libre de travailler avec les personnes de son choix.</h2>
        </div>
      </div>

      </div>
      <div class="l-col_md-6">
        <div class="description">
            <p>Chez Freewagoners, nous croyons en une nouvelle révolution du monde du travail. Un monde où nous pouvons choisir la manière dont nous voulons travailler. Avec qui travailler.&nbsp;</p><p></p><p>Nous voulons offrir à notre communauté de freelances et d’entreprises un lieu d’opportunités. De choix. D’expertise. Des moyens pour devenir plus agile, innovant et compétitif. Un algorithme de pointe pour trouver la bonne personne. Des outils simples et une plateforme sécurisée pour faciliter l’administratif.&nbsp;</p><p></p><p>Avec déjà plus de 100 000 projets réalisés avec succès, nous sommes fiers d’être aujourd’hui la plus importante communauté de freelancing en Europe.</p>
        </div>

        <hr>

        <h2>La communauté Freewagoners en bref.</h2>

        <div class="wagon">
          <div>
          <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png",  height: 200, weight: 200  %>
          </div>
          <div class="wagonprez">
            <h4>Freewagoners est partenaire du Wagon leader de la formation Web Développeur</h4>
            <%= link_to "visiter le site du Wagon", "https://www.lewagon.com/fr" %>
          </div>
        </div>


    </div>
  </div>
</div>
