<div class="container">
  <div class="row">
    <div class="col">
      <h1>Mon espace</h1>
      <h2>Bienvenue sur ton espace : <%#= @user.first_name %></h2>
      <hr>
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
        Espace codeur
      </div>
      <br>
      <div class="coder">

        <a class="btn btn-danger" href="edit_coder_path" role="button">Editer mon profil</a>
        <a class="btn btn-danger" href="#" role="button">Mes missions</a>
        <a class="btn btn-danger" href="#" role="button">Demander une recommandation</a>

      </div>

      <br>


      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
        Espace recruteur
      </div>
      <br>
      <div class="company">
        <a class="btn btn-primary" href="#" role="button">Mes freelances favoris</a>
        <a class="btn btn-primary" href="#" role="button">Mes factures</a>
        <a class="btn btn-primary" href="#" role="button">Mes missions</a>
      </div>
      <hr>
    </div>
  </div>
</div>

