.footer {
  margin-top: 100px;
  height: 200px;
  background-color: #1aa6b7;
  color: grey;
  text-align: center;
  li {
  list-style: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 50px;
  padding-right: 15px;
  i {
    color: #ff414d;
  }
  }
  p {
    color: white;
  }
}

