.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {

}

.back-bar {
  display: flex;
  align-items: center;
  background-color:$yellow;
  padding: 1.5rem 3rem;
}
