
    <h1>Coder index</h1>

    <ul>
      <% @coders.each do |coder| %>
        <li>
          <%= link_to coder_path(coder) do %>
          <%= coder.name %>
          <% end %>
          <p><%= coder.description %></p>
        </li>

      <% end %>
    </ul>


